.l-footer{
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  // フッター最下部固定のための処理
  margin-top: auto;
  bottom: 0;
  @include mq(){
    font-size: 12px;
  }
}