.c-menu{
  display: flex;
  &__link{
    padding: 10px 15px;
    color: #fff;
  }
  &__button{
    color: #fff;
  }
  @include mq(){
    &__item{
      padding-top: 20px;
      border-bottom: #777;
    }
    &__link{
      color: black;
      font-weight: bold;
    }
  }
}