.p-feature{
  &__title{
    text-align: center;
    margin-bottom: 30px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__item{
    text-align: center;
  }
  @include mq(){
    &__content{
      display: block;
      text-align: center;
    }
    &__item{
      display: block;
    }
  }
}