.p-prof-card{
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 200px;
  position: relative;
  &__left{
    width: 40%;
    margin-right: 20px;
    text-align: center;
  }
  &__right{
    width: 60%;
  }
  &__icon{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: dot 1px #333;
  }
  &__button{
    position: absolute;
    bottom: 0;
  }
  &__name{
    margin-bottom: 20px;
  }
  &__link{
    color: #fff;
  }

}