.p-step-detail{
  width: 760px;
  &__title{
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__category{
    background-color: black;
    color: white;
  }
  &__thumbnail{
    width: 100%;
    height: 420px;
    margin-bottom: 20px;
  }
}
// 入れ子（上記）では反映されないため、直接指定
.p-step-datail__category{
  padding: 5px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
}